:root{
  --main-color:rgb(63, 159, 207);
  --second-color:#0074e8;
  --p-color:rgb(51, 51, 51);
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Freeman", sans-serif;
  font-weight: 300;
}


/*nav */

.nav-container{
  position: absolute;
  top:30px;
  left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-link-container ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom:2px solid white;
}

.nav-link-container a{
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-decoration: none;
  color:white;
  transition: 1s ease;

}

.nav-link-container a:hover{
  color:var(--main-color);
}

.nav-logo-container{
  width: 30%;
}

.logo{
  width: 50%;

}

/*marki*/

.brands-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 50px;
  justify-content: center;
  align-items: center;

}

.brand-one{
  width: 150px;
  height: 150px;
  margin: 20px;
  
}

.brand-one img{
  width: 100%;
  height: auto;
  filter: grayscale(1);
  transition: 0.5s ease;
}

.brand-one img:hover{
  transform: scale(1.1);
  filter: grayscale(0);
}

.main-container{
  height: 100vh;
  background-image: url('./img/main_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main-info{
  width: 100%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-70%);
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
}

.main-info button{
  width: 150px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.127);
  color:white;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  transition: 1s ease;

}

.main-info button:hover{
  background-color: rgba(255, 255, 255, 0.314);
  color:black;
}

.header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.header-container h1{
  margin-bottom: 50px;
  font-size: 2.7rem;
  text-align: center;
  color: var(--main-color);
}

.header-info{
  width: 100vw;
  height: 100vh;
  background-image: url('./img/header_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1.8);
  filter: contrast(1.2);
  
}

.header-info-back{
  background-color: rgba(0, 0, 0, 0.508);
  position: relative;
  width: 100%;
  height: 100%;
}

.header-info-back img{
  position: absolute;
  top:100px;
  right: 2%;
}

.header-text{
  position: relative;
  top:30%;
  left: 10%;
  width: 40%;
  color: white;
  
}

.header-text h1{
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: left;
}



.header-text-link a{
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  margin: 20px 20px;
  transition: 0.1s ease;

}

.header-text-link a:hover{
  border-bottom: 3px solid blue;
}


.header-text h1{
  font-size: 2.56rem;
  font-weight: 700;
  color:white;
  margin-bottom: 20px;
}

.header-text button{
  margin: 10px;
  padding: 10px;
  background-color:var(--second-color);
  color:white;
  width: 70%;
  transition: 0.8s ease;
  border-color: var(--second-color);
}

.header-text button:hover{
  background-color: black;
  
}


/*offer */

.offer-container{
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  
}

.offer-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.offer-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.offer-one-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  padding-bottom: 30px;
  background-color: #0e223d;
  color:var(--second-color);
  border-radius: 20px;
  filter: grayscale(1);
  transition: 1s ease;
  
  
}

.offer-one-card:hover{
  filter: grayscale(0);
  transform: scale(1.1);
}

.offer-one-card img{
  width: 100%;
  height: 260px;
  object-fit: cover;
  margin-bottom: 30px;
  border-radius: 10px;

}

.offer-one-card p{
  color:white;
}

.offer-one-card a{
  font-size: large;
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  margin: 10px;
  padding: 10px;
  border:2px solid rgb(56, 253, 227);
  border-radius: 10px;
}

/*import*/

.import-container{
  display: flex;
  flex-direction: column;
}

.import-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.import-header p{
  color: var(--p-color);
}


.import-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.import-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  overflow: hidden;
  text-align: center;
}

.import-card h2{
  margin: 10px;
}

.import-card p{
  margin: 10px;
}

.import-card img{
  width: 100%;
  height: 60%;
  /* object-fit: contain; */
}


/*footer-contact*/

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:white;
  padding: 50px;
}

.contact{
  width: 30%;
  font-size: 1.5rem;
  transition: 1s ease;
  cursor: pointer;;
}

.contact h3:hover{
  color:var(--main-color)
}

/* oleje*/

.oleje-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.oleje-cards-sell{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  
}

.oleje-card-one{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28vw;
  margin: 20px;
}

.oleje-card-one img{
  width: 100%;
  height: 300px;
  object-fit: contain;
}


@media screen and (max-width: 600px) {
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    position:static;
    top: auto;
    left: auto;
    height: auto;
  }

  .nav-link-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .nav-logo-container{
    display: flex;
    justify-content: center;
    width: auto;
  }

  .nav-link-container ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;

  }

  .nav-link-container ul li a{
    text-decoration: none;
  }

  .brands-container{
    animation:slider 20s infinite;
  }


  .main-container{
    position: relative;
  }

  .main-info{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    }

    .header-info{
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .header-text{
      width: 100%;
      padding: 10px;
      position: relative;
      top: 100px;
      left: 0;
      text-align: center;
    }

    .header-text h1{
      text-align: center;
    }

    .header-info-back img{
      display: none;
    }


    .offer-cards{
      flex-direction: column;
    }

    .offer-one-card{
      width: 100vw;
      margin: 6px;
    }

    .footer-container{
      flex-direction: column;
      text-align: center;
    }

    .contact{
      width: auto;
      font-size: 1rem;
    }

    .footer-container div img{
      width: 100%;
    }

    .import-header{
      margin: 10px;
    text-align: center;
    }

  }


  @keyframes slider {

    0%{transform: translateX(0px);}
    40%{transform: translateX(400px);}
    75%{transform: translateX(-400px);}
    100%{transform: translateX(400px);}


  }







