:root{
  --main-color:rgb(63, 159, 207);
  --second-color:#0074e8;
  --p-color:rgb(51, 51, 51);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Freeman", sans-serif;
  font-weight: 300;
}


/*nav */

.nav-container{
  position: absolute;
  top:30px;
  left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-link-container ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-bottom:2px solid white;
}

.nav-link-container a{
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-decoration: none;
  color:white;
  transition: 1s ease;

}

.nav-link-container a:hover{
  color:var(--main-color);
}

.nav-logo-container{
  width: 30%;
}

.logo{
  width: 50%;

}

.main-container{
  height: 100vh;
  background-image: url('./img/main_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main-info{
  width: 100%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-70%);
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
}

.main-info button{
  background-color: rgba(0, 0, 0, 0.127);
  color:white;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  transition: 1s ease;

}

.main-info button:hover{
  background-color: rgba(255, 255, 255, 0.314);
  color:black;
}

.header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.header-container h1{
  margin-bottom: 50px;
  font-size: 2.7rem;
  text-align: center;
  color: var(--main-color);
}

.header-info{
  width: 100vw;
  height: 100vh;
  background-image: url('./img/header_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1.8);
  filter: contrast(1.2);
  
}

.header-info-back{
  background-color: rgba(0, 0, 0, 0.508);
  position: relative;
  width: 100%;
  height: 100%;
}

.header-text{
  position: relative;
  top:30%;
  left: 10%;
  width: 40%;
  color: white;
  
}

.header-text h1{
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: left;
}



.header-text-link a{
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  margin: 20px 20px;
  transition: 0.1s ease;

}

.header-text-link a:hover{
  border-bottom: 3px solid blue;
}


.header-text h1{
  font-size: 2.56rem;
  font-weight: 700;
  color:white;
  margin-bottom: 20px;
}

.header-text button{
  margin: 10px;
  padding: 10px;
  background-color:var(--second-color);
  color:white;
  width: 70%;
  transition: 0.8s ease;
  border-color: var(--second-color);
}

.header-text button:hover{
  background-color: black;
  
}


/*offer */

.offer-container{
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  
}

.offer-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.offer-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.offer-one-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  
}

.offer-one-card img{
  width: 100%;
  object-fit: contain;
  margin-bottom: 50px;
}

.offer-one-card p{
  color:var(--p-color);
}

/*import*/

.import-container{
  display: flex;
  flex-direction: column;
}

.import-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.import-header p{
  color: var(--p-color);
}


.import-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.import-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  overflow: hidden;
  text-align: center;
}

.import-card h2{
  margin: 10px;
}

.import-card p{
  margin: 20px;
}

.import-card img{
  width: 100%;
  height: 300px;
  object-fit: contain;
}




